<?xml version="1.0" encoding="UTF-8"?>
 <configuration>
     <system.webServer>
         <staticContent>
             <mimeMap fileExtension=".iso" mimeType="application/octet-stream" />
             <mimeMap fileExtension=".exe" mimeType="application/octet-stream" />
             <mimeMap fileExtension=".zip" mimeType="application/x-zip-compressed" />
         </staticContent>
     </system.webServer>
 </configuration>
